@font-face {
    src: url(/FontsNew/Courgette/Courgette-Regular.ttf);
    font-family: "courg";
}
@font-face {
    src: url(/FontsNew/Karantina/Karantina-Bold.ttf);
    font-family:"karbold";
}
@font-face {
    src: url(/FontsNew/Nova\ Cut/.ttf);
    font-family: "nova";
}
@font-face {
    src: url(/FontsNew/Playball/Playball-Regular.ttf);
    font-family:"playball" ;
}
@font-face {
    src: url(/FontsNew/Ultra/Ultra-Regular.ttf);
    font-family: "ultra";
}
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}
body {
    font-family: "courg";
    background-image: url("./Images/13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    background-attachment:fixed

}
header {
    position: relative;
}
nav {
    position:relative;
    top: 5;
    width: 100%;
    display: inline-block;
    text-align: center;
}
nav ul li:hover a {
    color: rgba(126, 18, 18, 0.719);
}
nav ul li {
    display: inline-block;
    padding: auto;
    text-align: center;
    list-style-type: none;
    font-family:"ultra";
}
nav ul li a {
    font-family:"ultra";
    font-size: 2rem;
    text-decoration-line: none;
    text-align: center;
    padding: 3rem;
    display: block;
    color: rgba(243, 235, 235, 0.753);
    text-shadow: 0 5px 5px rgba(0,0,0,0.7);
}
h1 {
    font-family:"playball" ;
    margin-inline: 50px;
    margin-left: 50px;
    margin-right: 110px;
    text-align: center;
    color: hsl(44, 100%, 50%);
    font-size: 44px;
}
h2 {
    font-family:"playball" ;
    font-size: 36px;
    color: hsl(44, 100%, 50%);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
}
iframe {
    margin-left: 300px;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
}


.flex-grid {
    width: 80%;
    margin: 50px auto;
    display: flex;
}

.flex-grid img {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 48%;
    height: auto;
    box-shadow: 0 20px 20px  rgba(0, 0, 0, 0.5);
    margin: 1%;
}

.addres {
    width: 48%;
    padding: 12px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    color: goldenrod;
    font-size: 35px;
    margin: 1%;
    border: 1px solid #ccc;
}

footer {
    position: relative;
}

i {
    color: white;
}

.icons {
    position: relative;
    text-align: center;
    font-size: 55px;
}

.space {
    padding-right: 3rem;
}

.space:hover {
    color: rgb(163, 158, 158);
}